<div class="page-title">
  <h2><strong>Followings</strong></h2>
  <h2>全<%= @users.count %>件</h2>
</div>

<div class="followings-index">


  <% if @users.present? %>

    <!--検索結果-->
    <div class="followings-index__result-wrapper">
      <div class="followings-index__result-wrapper-inner">

        <% @users.each do |user| %>
          <div class="followings-index__result">

            <table class="followings-index__base-info">

              <tbody>
                <tr>
                  <th class="followings-index__base-info-theme"></th>
                  <th class="followings-index__base-info-theme">アカウント名</th>
                  <th class="followings-index__base-info-theme">ユーザー名</th>
                </tr>
                <tr>
                  <td class="followings-index__base-info-data"><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no-image.jpeg", size: "40x40" %></td>
                  <td class="followings-index__base-info-data"><%= user.name %></td>
                  <td class="followings-index__base-info-data"><%= link_to user.nick_name, user_path(user.id) %></td>
                </tr>
                <tr>
                  <th></th>
                  <th class="followings-index__base-info-theme">プロフィール</th>
                  <th class="followings-index__base-info-theme"></th>
                </tr>
                <tr>
                  <td></td>
                  <td class="followings-index__base-info-data"><%= user.profile %></td>
                  <td class="followings-index__base-info-data"></td>
                </tr>
              </tbody>
            </table>

          </div>
        <% end %>
      </div>
    </div>

  <% else %>
      <div class="followings-index__method-description">
        <strong>
          <h3 class="text-center"><strong>まだ誰もフォローしていません。</strong></h3>
          <p></p>
        </strong>
      </div>
  <% end %>

</div>
