<div class="page-title">
  <h2><strong>Followers</strong></h2>
  <h2>全<%= @users.count %>件</h2>
</div>

<div class="followers-index">


  <% if @users.present? %>

    <!--検索結果-->
    <div class="followers-index__result-wrapper">
      <div class="followers-index__result-wrapper-inner">

        <% @users.each do |user| %>
          <div class="followers-index__result">

            <table class="followers-index__base-info">

              <tbody>
                <tr>
                  <th class="followers-index__base-info-theme"></th>
                  <th class="followers-index__base-info-theme">アカウント名</th>
                  <th class="followers-index__base-info-theme">ユーザー名</th>
                </tr>
                <tr>
                  <td class="followers-index__base-info-data"><%= profile_image_tag user, size: "40x40", fallback: "reading.jpg" %></td>
                  <td class="followers-index__base-info-data"><%= user.name %></td>
                  <td class="followers-index__base-info-data"><%= link_to user.nick_name, user_path(user.id) %></td>
                </tr>
                <tr>
                  <th>
                    <% if current_user != user %>
                      <% if current_user.following?(user) %>
                        <% unfollow_rel = current_user.relationships.find_by(follower_id: user.id) %>
                        <%= button_to "unfollow", user_relationship_path(user, unfollow_rel), method: :delete, class: "btn btn-info", form: { class: "d-inline" } %></td>
                      <% else %>
                        <%= button_to "follow", user_relationships_path(user.id), method: :post, class: "btn btn-success", form: { class: "d-inline" } %></td>
                      <% end %>
                    <% end %>
                </th>
                  <th class="followers-index__base-info-theme">プロフィール</th>
                  <th class="followers-index__base-info-theme"></th>
                </tr>
                <tr>
                  <td></td>
                  <td class="followers-index__base-info-data"><%= user.profile %></td>
                  <td class="followers-index__base-info-data"></td>
                </tr>
              </tbody>
            </table>


          </div>
        <% end %>
      </div>
    </div>

  <% else %>
      <div class="followers-index__method-description">
        <strong>
          <h3 class="text-center"><strong>現在フォロワーはいません。</strong></h3>
          <p></p>
        </strong>
      </div>
  <% end %>

</div>
