<div class="page-title">
  <h2><strong><%= @user.nick_name %>'s Followers</strong></h2>
  <h2>全<%= @users.count %>件</h2>
</div>

<div class="admin-followers-index">


  <% if @users.present? %>

    <!--検索結果-->
    <div class="admin-followers-index__result-wrapper">
      <div class="admin-followers-index__result-wrapper-inner">

        <% @users.each do |user| %>
          <div class="admin-followers-index__result">

            <table class="admin-followers-index__base-info">

              <tbody>
                <tr>
                  <th class="admin-followers-index__base-info-theme"></th>
                  <th class="admin-followers-index__base-info-theme">アカウント名</th>
                  <th class="admin-followers-index__base-info-theme">ユーザー名</th>
                </tr>
                <tr>
                  <td class="admin-followers-index__base-info-data"><%= profile_image_tag user, size: "40x40", fallback: "reading.jpg" %></td>
                  <td class="admin-followers-index__base-info-data"><%= user.name %></td>
                  <td class="admin-followers-index__base-info-data"><%= link_to user.nick_name, user_path(user.id) %></td>
                </tr>
                <tr>
                  <th></th>
                  <th class="admin-followers-index__base-info-theme">プロフィール</th>
                  <th class="admin-followers-index__base-info-theme"></th>
                </tr>
                <tr>
                  <td></td>
                  <td class="admin-followers-index__base-info-data"><%= user.profile %></td>
                  <td class="admin-followers-index__base-info-data"></td>
                </tr>
              </tbody>
            </table>


          </div>
        <% end %>
      </div>
    </div>

  <% else %>
      <div class="admin-followers-index__method-description">
        <strong>
          <h3 class="text-center"><strong>現在<%= @user.nick_name %>のフォロワーはいません</strong></h3>
          <p></p>
        </strong>
      </div>
  <% end %>

</div>
