<div class="page-title">
  <h2>ジャンルが"<strong><%= @genre.name %></strong>"の投稿一覧</h2>
  <h3>（全<%= @amount %>件）</h3>
</div>

<div class="admin-genres-show">


  <% if @books.present? %>

    <div class="admin-genres-show__result-wrapper">
      <div class="admin-genres-show__result-wrapper-inner">

        <% @books.each do |book| %>
          <div class="admin-genres-show__result">

            <table class="admin-genres-show__base-info">

              <tbody>
                <tr>
                  <th class="admin-genres-show__base-info-theme">
                    <% if book.is_deleted == true %>
                      <font color="red"><p><strong>削除済みの投稿</strong></p></font>
                    <% end %>
                  </th>
                  <th class="admin-genres-show__base-info-theme">タイトル</th>
                  <th class="admin-genres-show__base-info-theme">投稿したユーザー</th>
                  <th class="admin-genres-show__base-info-theme">投稿日</th>
                </tr>

                  <td class="admin-genres-show__base-info-data">
                    <%= link_to (image_tag(book.small_image_url)), book.item_url, target: :_blank, rel: "noopener noreferrer" %>&nbsp;&nbsp;
                    <span class="badge bg-success"><%= link_to book.genre.name, admin_genre_path(book.genre.id), class:"link" %></span>&nbsp;&nbsp;
                    <span class="badge bg-primary"><%= link_to book.subject.name, admin_subject_path(book.subject.id), class:"link" %></span>
                  </td>
                  <td class="admin-genres-show__base-info-data"><%= link_to book.title, admin_book_path(book.id), class:"link" %></td>
                  <td class="admin-genres-show__base-info-data"><%= link_to book.user.nick_name, admin_user_path(book.user.id), class:"link" %></td>
                  <td class="admin-genres-show__base-info-data"><%=  book.created_at.to_s(:datetime) %></td>
                </tr>
              </tbody>
            </table>

          </div>
        <% end %>
      </div>
    </div>

  <% else %>
      <div class="admin-genres-show__method-description">
        <strong>
          <h3 class="text-center"><strong>現在ジャンルが"<%= @genre.name %>"の投稿はありません。</strong></h3>
          <p></p>
        </strong>
      </div>
  <% end %>

</div>
