<div class="page-title">
  <h2>ジャンルが"<strong><%= @genre.name %></strong>"の投稿一覧</h2>
  <h3>（全<%= @amount %>件）</h3>
</div>

<div class="genres-show">


  <% if @books.present? %>

    <div class="genres-show__result-wrapper">
      <div class="genres-show__result-wrapper-inner">

        <% @books.each do |book| %>
          <div class="genres-show__result">

            <table class="genres-show__base-info">

              <tbody>
                <tr>
                  <th class="genres-show__base-info-theme"></th>
                  <th class="genres-show__base-info-theme">ジャンル・科目</th>
                  <th class="genres-show__base-info-theme">タイトル</th>
                  <th class="genres-show__base-info-theme">投稿したユーザー</th>
                  <th class="genres-show__base-info-theme">コメント数</th>
                  <th class="genres-show__base-info-theme">投稿日</th>
                </tr>

                  <td class="genres-show__base-info-data">
                    <%= link_to (image_tag(book.small_image_url)), book.item_url, target: :_blank, rel: "noopener noreferrer" %>
                  </td>
                  <td class="genres-show__base-info-data">
                    <span class="badge bg-success"><%= link_to book.genre.name, genre_path(book.genre.id), class:"link" %></span>&nbsp;&nbsp;
                    <span class="badge bg-primary"><%= link_to book.subject.name, subject_path(book.subject.id), class:"link" %></span>
                  </td>
                  <td class="genres-show__base-info-data"><%= link_to book.title, book_path(book.id), class:"link" %></td>
                  <td class="genres-show__base-info-data"><%= link_to book.user.nick_name, user_path(book.user.id), class:"link" %></td>
                  <td class="genres-show__base-info-data"><%= book.comments.size %></td>
                  <td class="genres-show__base-info-data"><%=  book.created_at.to_s(:datetime) %></td>
                </tr>
              </tbody>
            </table>

          </div>
        <% end %>
      </div>
    </div>

  <% else %>
      <div class="genres-show__method-description">
        <strong>
          <h3 class="text-center"><strong>現在ジャンルが"<%= @genre.name %>"の投稿はありません。</strong></h3>
          <p></p>
        </strong>
      </div>
  <% end %>

</div>
