<div class="page-title">
  <h2 class="col-12">新規会員登録</h2>
</div>

    <div class="users-registration">
      <div class="users-registration__form-group text-center">

        <table class="users-registration__base-info">
          <tbody>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <% if @user.errors.any? %>
            <div class="error_messages">
              <strong><font color="red"><%= @user.errors.count %>件のエラーが発生しました。<br></font></strong>
              <% @user.errors.full_messages.each do |message| %>
                <font color="black">・<%= message %>。<br></font>
              <% end %>
            </div>
            <% end %>

            <tr>
              <th class="users-registration__base-info-theme"><strong><%= f.label :name,"アカウント名(英数字)" %></strong></th>
              <td class="users-registration__base-info-data"><%= f.text_field :name, placeholder: "アカウント名を入力", autofocus: true, autocomplete: "アカウント名(英数字)", style: "border: none" %></td>
            </tr>

            <tr>
              <th class="users-registration__base-info-theme"><strong><%= f.label :nick_name,"表示名" %></strong></th>
              <td class="users-registration__base-info-data"><%= f.text_field :nick_name, placeholder: "表示名を入力", autofocus: true, autocomplete: "表示名", style: "border: none" %></td>
            </tr>

            <tr>
              <th class="users-registration__base-info-theme"><strong><%= f.label :email,"メールアドレス" %></strong></th>
              <td class="users-registration__base-info-data"><%= f.email_field :email, placeholder: "メールアドレスを入力", autofocus: true, autocomplete: "email", style: "border: none" %></td>
            </tr>

            <%= f.hidden_field :is_valid, :value => true %>

            <tr>
              <th class="users-registration__base-info-theme">
                <strong>
                  <%= f.label :password,"パスワード" %>
                </strong>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>文字以上)</em>
                <% end %>
              </th>
              <td class="users-registration__base-info-data"><%= f.password_field :password, placeholder: "パスワードを入力", autofocus: true, autocomplete: "new-password", style: "border: none" %></td>
            </tr>

            <tr>
              <th class="users-registration__base-info-theme"><strong><%= f.label :password,"パスワード(確認用)" %></strong></th>
              <td class="users-registration__base-info-data"><%= f.password_field :password_confirmation, placeholder: "パスワードを入力", autofocus: true, style: "border: none" %></td>
            </tr>

          </tbody>
        </table>

            <div class="users-registration__buttons">
              <td><%= f.submit "新規登録", class: "btn btn-success users-registration__registration-button" %></td>
            </div>

          <% end %>

      </div>
    </div>
  </div>