<div class="page-title">
      <span><strong>User details</strong></span>
  </div>

  <div class="admin-users-show">
    <div class="admin-users-show__profile-group text-left">

    <div class="admin-users-show__info-wrapper">
      <table class="admin-users-show__base-info">
        <td><%= profile_image_tag @user, size: "80x80", fallback: "reading.jpg", class: "profile-image" %></td>

        <tbody>
          <tr>
            <th class="admin-users-show__base-info-theme">ユーザー名</th>
            <td class="admin-users-show__base-info-data"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="admin-users-show__base-info-theme">表示名</th>
            <td class="admin-users-show__base-info-data"><%= @user.nick_name %></td>
          </tr>
          <tr>
            <th class="admin-users-show__base-info-theme">フォロー</th>
            <td class="admin-users-show__base-info-data"><%= link_to @user.followings.count, admin_user_relationships_followings_path(@user) %> 人</td>
          </tr>
          <tr>
            <th class="admin-users-show__base-info-theme">フォロワー</th>
            <td class="admin-users-show__base-info-data"><%= link_to @user.followers.count, admin_user_relationships_followers_path(@user) %> 人</td>
          </tr>
          <tr>
            <th class="admin-users-show__base-info-theme">現在の会員ステータス</th>
            <td class="admin-users-show__base-info-data">
              <% if @user.is_valid == false %>
                <strong class="text-danger">退会済み</strong>
              <% else %>
                <strong class="text-secondary">有効</strong>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="admin-users-show__base-info-theme">会員ステータス更新</th>
            <%= form_with model: @user, url: admin_user_path(@user.id), local: true do |f| %>
          　<td>
            　<%= f.radio_button :is_valid, true %>
            　<%= f.label :is_valid, "有効", {value: :true, style: "display: inline-block;"} %>
            　<%= f.radio_button :is_valid, false %>
            　<%= f.label :is_valid, "退会", {value: :false, style: "display: inline-block;"} %>
              <%= f.submit '更新' ,class: "btn btn-outline-secondary" %>
            </td>
        　<% end %>
          </tr>
          <tr>
            <th class="admin-users-show__base-info-theme">プロフィール</th>
            <td class="admin-users-show__base-info-data"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      </div>

    </div>

  <div class="admin-users-show__book-list">
    <div class="admin-users-show__page-subtitle">
      <h4><strong><%= @user.nick_name %>の投稿（全<%= @books.size %>件）</strong></h4>
          <!--新規投稿ボタン-->
    </div>


    <div class="admin-users-show__books-info">

      <div class="admin-users-show__books-info-data">
      <% if @books.any? %>
        <% @books.each do |book| %>
          <div class="admin-users-show__book-list-items">

            <div class="admin-users-show__book-list-picture text-center" >
              <% if book.is_deleted == true %>
                <font color="red"><p><strong>削除済みの投稿</strong></p></font>
              <% end %>
              <span>
                <%= link_to (image_tag(book.small_image_url)), book.item_url, target: :_blank, rel: "noopener noreferrer" %>
                <%= link_to book.title, admin_book_path(book.id) %>
              </span><br>
            </div>
            <div class="admin-users-show__book-list-data text-right">
              <span>
                著者：<%= book.author %>
              </span><br>

              <span>
                コメント数：<%= book.comments.size %>｜
                投稿日：<%= book.created_at.to_fs(:datetime) %>
              </>
            </div>

          </div>
        <% end %>
        <% else %>
          <h4 class="text-center">まだ投稿はありません。</h4>
        <% end %>
      </div>
    </div>
  </div>

  </div>