<div class="container">
  <div class="row justify-content-center">
    <h2><strong>投稿内容を編集</strong></h2>
  </div>

  <div class="row">
    <div class="col justify-content-center">
      <h3 class="text-center">書籍情報</h3>
      <%= link_to (image_tag(@book.medium_image_url)), @book.item_url, target: :_blank, rel: "noopener noreferrer", class:"book-image" %>
      <p><%= @book.title %></p>
      <p><%= @book.author %></p>
      <p><%= @book.publisher_name %></p>
      <p><%= @book.item_price %></p>
    </div>

    <div class="col justify-content-center text-center">
      <h3>編集</h3>
        <div class="form-group col-12">
          <%= form_with model: @book, url:book_path(@book), local:true, method: :patch do |f| %>

            <%= f.label :"購入した背景", class: "col-sm-3" %>
            <%= f.text_area :story, placeholder: "背景を記入", autofocus: true, class: "col-sm-2" %>

            <%= f.submit "編集内容を保存する", class: "btn btn-outline-primary" %>
          <% end %>
        </div>
    </div>

  </div>
</div>