<div class="page-title">
  <span><strong>Book details</strong></span>
</div>
<div class="books-show">

    <div class="books-show__books-info">

      <div class="books-show__books-info-items">

        <table class="books-show__base-info">
        <td title="楽天ブックスに移動します"><%= link_to (image_tag(@book.large_image_url)), @book.item_url, target: :_blank, rel: "noopener noreferrer" %></td>

          <!--ブックマークボタン-->
          <% if @book.bookmarked_by?(current_user) %>
            <td><%= link_to "bookmarkから削除", book_bookmark_path(@book), method: :delete, class:"btn btn-danger" %>
          <% else %>
            <td><%= link_to "bookmarkに追加", book_bookmarks_path(@book), method: :post, class:"btn btn-info" %>
          <% end %>

          <% if current_user == @book.user %>
            <%= link_to "編集", edit_book_path(@book), class:"btn btn-secondary" %></td>
          <% end %>
          <%= flash[:create_success] %>

        <tbody>
          <tr>
            <th class="books-show__base-info-theme">タイトル</th>
            <td class="books-show__base-info-data"><%= @book.title %></td>
          </tr>
          <tr>
            <th class="books-show__base-info-theme">著者</th>
            <td class="books-show__base-info-data"><%= @book.author %></td>
          </tr>
          <tr>
            <th class="books-show__base-info-theme">商品説明</th>
            <td class="books-show__base-info-data"><%= @book.item_caption %></td>
          </tr>
          <tr>
            <th class="books-show__base-info-theme">価格</th>
            <td class="books-show__base-info-data">￥<%= @book.item_price %></td>
          </tr>
          <tr>
            <th class="books-show__base-info-theme">出版社</th>
            <td class="books-show__base-info-data"><%= @book.publisher_name %></td>
          </tr>
          <tr>
            <th class="books-show__base-info-theme">ジャンル</th>
            <td class="books-show__base-info-data"><%= link_to @book.genre.name, genre_path(@book.genre.id) %></td>
          </tr>
          <tr>
            <th class="books-show__base-info-theme">科目</th>
            <td class="books-show__base-info-data"><%= link_to @book.subject.name, subject_path(@book.subject.id)%></td>
          </tr>
          <tr>
            <th class="books-show__base-info-theme">投稿者</th>
            <td class="books-show__base-info-data"><%= link_to @book.user.name, user_path(@book.user.id) %></td>
          </tr>
          <tr>
            <th class="books-show__base-info-theme">購入した背景</th>
            <td class="books-show__base-info-data"><%= @book.story %></td>
          </tr>
        </tbody>
      </table>

      </div>

    </div>
    <div class="books-show__books-comments-form">
      <p>コメントを新しい順で<%= @amount %>件表示（全<%= @amounts %>件）</p>
      <!--コメント投稿フォーム-->
      <%= form_with model:[@book,@comment], local: true do |f| %>
        <%= f.text_area :body, size:"60x3", rows:'3', placeholder: "コメントを入力", autofocus: true %>
        <p><%= f.submit "送信する" %></p>
      <% end %>
      <%= flash[:notice] %>
      <div class="books-show__books-comments">
        <!--コメント一覧-->
        <% if @comments.any? %>
          <% @comments.each do |comment| %>
            <div class="books-show__books-comments-items">
              <div class="books-show__books-user-info">
                <%= link_to user_path(comment.user_id) do %>
                  <%= attachment_image_tag comment.user, :profile_image, fallback: "reading.jpeg", size: "40x40" %>
                  <%= comment.user.nick_name %>
                <% end %>
              </div>
              <div class="books-show__books-comments-body">
                <%= comment.body %><br>

                  <% if comment.score.to_f < 0.0 %>
                    <i class="fas fa-exclamation-triangle text-warning", title="不適切な内容であると判断した場合、&#13;&#10;管理者によって削除される可能性があります。" ></i>
                  <% end %>

                  <%= comment.created_at.to_s(:datetime) %>

                  <!--いいねボタン-->
                  <% if comment.liked_by?(current_user) %>
                    <%= link_to comment.likes.count, book_comment_like_path(@book,comment), method: :delete, class: "fas fa-heart heart_red" %>
                  <% else %>
                    <%= link_to comment.likes.count, book_comment_likes_path(@book,comment), method: :post, class: "fas fa-heart heart_blue" %>
                  <% end %>

                  <!--削除ボタン-->
                  <% if current_user == comment.user %>
                    <%= link_to "削除", book_comment_path(comment.book, comment), method: :delete %>
                  <% end %>

              </div>
            </div>
          <% end %>
          <% else %>
            <h4 class="text-center">No comment exists</h4>
          <% end %>


      </div>
      <div class="justify-content-center">
      <!--ページネーション-->
        <%= paginate @comments %>
      </div>
    </div>
</div>