<div class="page-title">
  <h2 class="col-12">会員情報編集</h2>
</div>


    <div class="users-edit">

      <div class="users-edit__form-group text-center">

        <% if @user.errors.any? %>
        <div class="error_messages">
          <strong><font color="red"><%= @user.errors.count %>件のエラーが発生しました。<br></font></strong>
          <% @user.errors.full_messages.each do |message| %>
            <font color="black">・<%= message %>。<br></font>
          <% end %>
        </div>
        <% end %>

        <table class="users-edit__base-info">
          <tbody>
          <%= form_with model: @user, url:user_path(@user), local:true, method: :patch do |f| %>

            <tr>
              <th class="users-edit__base-info-theme"><%= f.label :"プロフィール画像" %></th>
              <td class="users-edit__base-info-data"><%= f.file_field :profile_image, accept: "image/*" %></td>
            </tr>

            <tr>
              <th class="users-edit__base-info-theme"><strong><%= f.label :"アカウント名" %></strong></th>
              <td class="users-edit__base-info-data"><%= f.text_field :nick_name, placeholder: "アカウント名を入力", autofocus: true, style: "border: none" %></td>
            </tr>

            <tr>
              <th class="users-edit__base-info-theme"><strong><%= f.label :"表示名" %></strong></th>
              <td class="users-edit__base-info-data"><%= f.text_field :name, placeholder: "表示名を入力", autofocus: true, style: "border: none" %></td>
            </tr>

            <tr>
              <th class="users-edit__base-info-theme"><strong><%= f.label :"メールアドレス" %></strong></th>
              <td class="users-edit__base-info-data"><%= f.text_field :email, placeholder: "メールアドレスを入力", autofocus: true, autocomplete: "email", style: "border: none" %></td>
            </tr>

            <tr>
              <th class="users-edit__base-info-theme"><strong><%= f.label :"プロフィール" %></strong></th>
              <td class="users-edit__base-info-data"><%= f.text_area :profile, placeholder: "プロフィールを入力", autofocus: true, rows:"4", cols:"40", style: "border: none", class:"profile" %></td>
            </tr>

          </tbody>
        </table>

            <div class="users-edit__buttons">
              <td><%= f.submit "編集内容を保存する", class: "btn btn-success users-edit__edit-button" %></td>
              <td><%= link_to "退会希望はこちら", user_confirm_path(current_user), class: "btn btn-danger users-edit__quit-button" %></td>
            </div>

          <% end %>

      </div>
    </div>
  </div>