<div class="container">

  <div class="row justify-content-center">
    <% if current_user.id == @user.id %>
      <h2 class="title"><strong>マイページ</strong></h2>
    <% else %>
      <h2 class="title"><strong>詳細画面</strong></h2>
    <% end %>
  </div>

  <div class="row">
    <div class="col profile-group">

        <table>
          <tbody>
            <td><%= attachment_image_tag @user, :profile_image, :size =>'80x80', fallback: "reading.jpg", class:"profile-image" %></td>
            <tr>
              <td><strong>アカウント名：</strong></td>
              <td><%= @user.name %></td>
            </tr>

            <tr>
              <td><strong>表示名：</strong></td>
              <td><%= @user.nick_name %></td>
            </tr>

            <tr>
              <td><strong>プロフィール：</strong></td>
              <td><%= @user.profile %></td>
            </tr>

            <tr>
              <td><strong>フォロー：</strong><%= link_to link_to @user.followings.count, user_followings_path(@user) %></td>
            </tr>

            <tr>
              <td><strong>フォロワー：</strong><%= link_to link_to @user.followers.count, user_followers_path(@user) %></td>
            </tr>

            <tr>
              <td><%= link_to "Bookmark一覧", user_bookmarks_path(@user) %></td>
            </tr>

            <tr>
              <td><%= link_to "いいねしたコメント一覧", user_likes_path(@user) %></td>
            </tr>

            <tr>
              <% if current_user != @user %>
                <% if current_user.following?(@user) %>
                  <td><%= link_to "unfollow", user_relationship_path(@user.id), method: :delete, class: "btn btn-info" %></td>
                <% else %>
                  <td><%= link_to "follow", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %></td>
                <% end %>
              <% else %>
                <td><%= link_to "編集", edit_user_path(@user.id) %></td>
              <% end %>
            </tr>

          </tbody>
        </table>


    </div>

    <div class="col">
      <div class="row justify-content-center">
        <h4 class="title"><strong>最新の投稿</strong></h4>
      </div>
      <%= link_to "新規投稿", books_search_path, class:"btn btn-secondary" %>

      <div class="row book-list">
        <table>
          <thead>
            <tr>
              <th>
                <th><strong>タイトル</strong></th>
                <th><strong>著者</strong></th>
              </th>
            </tr>
          </thead>

          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td class="book-list-item book-list-picture"><%= link_to (image_tag(book.small_image_url)), book.item_url, target: :_blank, rel: "noopener noreferrer" %></td>
                <td class="book-list-item"><%= link_to book.title, book_path(book.id) %></td>
                <td class="book-list-item"><%= book.author %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>