<% if @user.is_valid == false %>
  <% if @user.id == current_user.id %>
    <div class="page-title-baned">
      <h2><strong><%= @user.nick_name %>様は以前に退会されています。</strong></h2>
      <h2><strong>アカウントを復帰させますか？</strong></h2>

      <p>
        <%= link_to "アカウントを復帰させる", user_unban_path(@user), method: :patch, params: {is_valid: true}, class:"link" %>
        ｜<%= link_to "新しくアカウントを作成する", user_path(@user), method: :delete, class:"link" %>
      </p>
    </div>

  <% else %>

    <div class="page-title">
      <% if current_user.id == @user.id %>
        <span><strong>My page</strong></span>
      <% else %>
        <span><strong>User details</strong></span>
      <% end %>
    </div>

    <div class="page-title-baned">
      <h2><strong><%= @user.nick_name %>様は既に退会済み、<br>もしくは管理者によってアカウントが凍結されています。</strong></h2>
    </div>
  <% end %>
<% else %>

  <div class="page-title">
    <% if current_user.id == @user.id %>
      <span><strong>My page</strong></span>
    <% else %>
      <span><strong>User details</strong></span>
    <% end %>
  </div>

  <div class="users-show">
    <div class="users-show__profile-group text-left">

    <div class="users-show__info-wrapper">
      <table class="users-show__base-info">
        <td><%= attachment_image_tag @user, :profile_image, size: '80x80', fallback: "reading.jpg", class: "profile-image" %></td>
            <% if current_user == @user %>
              <td><%= link_to "編集", edit_user_path(@user.id), class:"btn btn-secondary" %></td>
            <% end %>
            <%= flash[:re_enabled] %>
            <%= flash[:success] %>
            <%= flash[:disenabled] %>
            <tr>
              <% if current_user != @user %>
                <% if current_user.following?(@user) %>
                  <td class="users-show__base-info-data"><%= link_to "unfollow", user_relationship_path(@user.id, ), method: :delete, class: "btn btn-info" %></td>
                <% else %>
                  <td class="users-show__base-info-data"><%= link_to "follow", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %></td>
                <% end %>
              <% end %>
            </tr>
        <tbody>
          <tr>
            <th class="users-show__base-info-theme">ユーザー名</th>
            <td class="users-show__base-info-data"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="users-show__base-info-theme">表示名</th>
            <td class="users-show__base-info-data"><%= @user.nick_name %></td>
          </tr>
          <tr>
            <th class="users-show__base-info-theme">フォロー</th>
            <td class="users-show__base-info-data"><%= link_to @user.followings.count, user_followings_path(@user) %> 人</td>
          </tr>
          <tr>
            <th class="users-show__base-info-theme">フォロワー</th>
            <td class="users-show__base-info-data"><%= link_to @user.followers.count, user_followers_path(@user) %> 人</td>
          </tr>
          <tr>
            <th class="users-show__base-info-theme">ブックマーク</th>
            <td class="users-show__base-info-data"><%= link_to @user.bookmarks.count, user_bookmarks_path(@user) %> 件</td>
          </tr>
          <tr>
            <th class="users-show__base-info-theme">いいねしたコメント</th>
            <td class="users-show__base-info-data"><%= link_to @comments.count, user_likes_path(@user) %> 件</td>
          </tr>
          <tr>
            <th class="users-show__base-info-theme">プロフィール</th>
            <td class="users-show__base-info-data"><%= @user.profile %></td>

          </tr>
        </tbody>
      </table>
      </div>

    </div>

  <div class="users-show__book-list">
    <div class="users-show__page-subtitle">
      <h4><strong><%= @user.nick_name %>の投稿（全<%= @books.count %>件）</strong></h4>
    </div>


    <div class="users-show__books-info">

    <!--新規投稿ボタン-->
    <% if current_user == @user %>
      <%= link_to "新規投稿", books_search_path, class:"btn btn-success users-show__posting-button" %>
    <% end %>

      <div class="users-show__books-info-data">
      <% if @books.any? %>
        <% @books.each do |book| %>
          <div class="users-show__book-list-items">

            <div class="users-show__book-list-picture text-center" >
              <span>
                <%= link_to (image_tag(book.small_image_url)), book.item_url, target: :_blank, rel: "noopener noreferrer" %>
                <%= link_to book.title, book_path(book.id) %>
              </span><br>
            </div>
            <div class="users-show__book-list-data text-right">
              <span>
                著者：<%= book.author %>
              </span><br>

              <span>
                コメント数：<%= book.comments.all.count %>｜
                投稿日：<%= book.created_at.to_s(:datetime) %>
              </>
            </div>

          </div>
        <% end %>
        <% else %>
          <h4 class="text-center">まだ投稿はありません。</h4>
        <% end %>
      </div>
    </div>
  </div>

  </div>
  <% end %>