<!DOCTYPE html>
<html>
  <head>
    <title>Ally</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expend-lg navbar-light">
        <div class="container">

            <div class="navbar-brand">
              <%= link_to root_path, class:"nav-link" do %>
                <%= image_tag "Ally-logo.png", :size =>'100x100' %>
              <% end %>
            </div>

            <ul class="list-group-horizontal navbar-nav ml-auto">


            <!--ユーザーがログインしている場合-->
            <% if user_signed_in? %>

              <nav-item>
                <%= link_to user_path(current_user) do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>マイページ</strong>
                    </i>
                <% end %>
              </nav-item>

             <nav-item>
                <%= link_to genres_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>ジャンル一覧</strong>
                    </i>
                <% end %>
              </nav-item>

             <nav-item>
                <%= link_to subjects_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>科目一覧</strong>
                    </i>
                <% end %>
              </nav-item>

             <nav-item>
                <%= link_to new_book_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>新規投稿</strong>
                    </i>
                <% end %>
              </nav-item>

             <nav-item>
                <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>Log out</strong>
                    </i>
                <% end %>
              </nav-item>

            <!--管理者がログインしている場合-->
            <% elsif admin_signed_in? %>

              <nav-item>
                <%= link_to admin_users_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>ユーザー一覧</strong>
                    </i>
                <% end %>
              </nav-item>
              
             <nav-item>
                <%= link_to admin_genres_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>ジャンル一覧</strong>
                    </i>
                <% end %>
              </nav-item>

             <nav-item>
                <%= link_to admin_subjects_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>科目一覧</strong>
                    </i>
                <% end %>
              </nav-item>

             <nav-item>
                <%= link_to destroy_admin_session_path, method: :delete do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>管理者ログアウト</strong>
                    </i>
                <% end %>
              </nav-item>

            <!--いずれもログインしていない場合  -->
            <% else %>

             <nav-item>
                <%= link_to genres_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>ジャンル一覧</strong>
                    </i>
                <% end %>
              </nav-item>

             <nav-item>
                <%= link_to subjects_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>科目一覧</strong>
                    </i>
                <% end %>
              </nav-item>

              <nav-item>
                <%= link_to new_user_registration_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>ユーザー新規登録</strong>
                    </i>
                <% end %>
              </nav-item>

             <nav-item>
                <%= link_to new_user_session_path do %>
                    <i class="fas fa-home nav-link text-black">
                      <strong>ユーザーログイン</strong>
                    </i>
                <% end %>
              </nav-item>

            <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>
    <footer>

        <%= link_to "管理者ログイン", new_admin_session_path %>

    </footer>
  </body>
</html>
