<!DOCTYPE html>
<html>
  <head>
    <title>Ally</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--ユーザーがログインしている場合-->
      <% if user_signed_in? %>
        <li>
          <%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete %>
        </li>

      <!--管理者がログインしている場合-->
      <% elsif admin_signed_in? %>

        <li>
          <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
        </li>

      <!--いずれもログインしていない場合  -->
      <% else %>

        <li>
          <%= link_to "ユーザー新規登録", new_user_registration_path %>
        </li>

        <li>
          <%= link_to "ユーザーログイン", new_user_session_path %>
        </li>

      <% end %>
    </header>

    <%= yield %>
    <footer>

        <%= link_to "管理者ログイン", new_admin_session_path %>

    </footer>
  </body>
</html>
